/* Google Fonts - Noto Sans Thai */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

* {
  font-family: "Noto Sans Thai", sans-serif;
}

.container-space {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  /* margin: 10% 10% 10%; */
}
