/* Google Fonts - Noto Sans Thai */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  padding: 10px;
}

/* new */
* {
  font-family: "Noto Sans Thai", sans-serif;
}

.container-space {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  /* margin: 10% 10% 10%; */
  background-color: bisque;
}